<header class="bg-info">
	<h1 class="header-title">Bookers</h1>
</header>

<body class="text-center mw-100">
	<div class="main-container">
		<p class="display-2 font-weight-bold text-dark" style="letter-spacing: 0.02em;">ようこそ Bookers へ！</p>

		<p class="pt-2 h5 font-weight-bold text-secondary" style="letter-spacing: 0.03em;">Bookersでは、さまざまな書籍に関するあなたの意見や印象を共有し交換することができます</p>

		<%= link_to "Start", books_path, class: 'start-btn btn-info rounded' %>
	</div>
</body>